{{> header}}

<link href="/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">

<div class="container" style="margin-top:50px;">
      <div class="row">
        <div class="col-xs-12">
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3">
          {{#compania}}
              <img src='/public/images/empresas/{{this.imagen_principal}}' class="img-responsive" alt="">
          {{/compania}}
          <hr>
          <div class="list-group">
            {{#compania}}
              <a href="/empresas/{{this.url_key}}/" class="list-group-item">TODOS LOS PRODUCTOS</a>
            {{/compania}}
            {{#each categorias}}
              <a href="{{this.url}}" class="list-group-item">{{ this.nombre }}</a>
            {{/each}}
          </div>
        </div>
        <!-- /.col-lg-3 -->
        <div class="col-lg-9">
          <div class="row">
            <div id="carouselExampleIndicators" class="carousel slide my-4-b" data-ride="carousel">
              <ol class="carousel-indicators">
                {{#compania}}
                  {{#each this.catalogo_imagenes}}
                      <li data-target="#carouselExampleIndicators" id="indicator{{@index}}" data-slide-to="{{@index}}" hidden></li>
                  {{/each}}
                {{/compania}}
              </ol>
              <div class="carousel-inner" role="listbox">
                {{#compania}}
                  {{#each this.catalogo_imagenes}}
                  <div class="carousel-item" id="carousel{{@index}}" >
                    <img class="d-block img-fluid" src='/public/images/empresas/{{this}}'>
                  </div>
                  {{/each}}
                {{/compania}}
              </div>
              <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Anterior</span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Siguiente</span>
              </a>
            </div>
            {{#if productos}}
              {{#each productos}}
              <div class="col-lg-4 col-md-6 mb-4">
                <div class="card h-100">
                  <img style="margin: 0 auto; min-width:90%; width:90%" class="img-responsive" src="/public/images/productos/{{ this.imagenes.[0] }}">
                  <hr>
                  <div class="info">
                    <div class="row">
                        <div class="price col-md-12">
                            <h5>{{ this.nombre }}</h5>
                            <p>{{ this.descripcion }}</p>
                            <h5 class="price-text-color">${{ this.totalVenta }}.-</h5>
                        </div>
                    </div>
                    <div class="clearfix">
                    </div>
                  </div>
                  <div class="card-footer">
                    <div class="col-md-6">
                      {{#if this.stock}}
                        <a class="btn btn-danger" style="color:#fff" onclick="cargarCarrito('{{ this._id }}')">Comprar</a>
                      {{else}}
                        <a class="btn btn-danger" style="color:#fff" disabled>Sin Stock</a>
                      {{/if}}
                    </div>
                    <div class="col-md-6">
                        <a class="btn btn-default" href="/empresas/{{this.urlcompanias}}/{{ this._id }}">Ver Info</a>
                    </div>
                  </div>
                </div>
              </div>
              {{/each}}
            {{else}}
              <p>No hay ningun producto disponible</p>
            {{/if}}
          </div>
          <!-- /.row -->
        </div>
        <!-- /.col-lg-9 -->
      </div>
      <!-- /.row -->


    </div>
    <!-- /.container -->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript">
      $('#indicator0').addClass('active');
      $('#carousel0').addClass('active');
    </script>
{{> footer}}
